.member {
	padding: 10px;
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 4px;
	background: #fff;
	
}

.card {
	padding: 10px;
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0px 2px 15px rgb(16 110 234 / 25%);
}

.animalDescriptionList {
	margin-top: -20px !important;
}

blockquote p:before {
	font-family: Georgia, serif;
	font-size: 3em;
	line-height: 1;
	top: 0;
	left: 0;
	content: '\201C';
}

blockquote p:after {
	font-family: Georgia, serif;
	font-size: 3em;
	line-height: 1;
	top: 0;
	left: 0;
	content: '\201D';
}
